body {
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    font-weight: 300;
    margin: auto ;
    justify-content: center;
    min-height: 100vh; 
    display: flex;

}
 

.calculator{
    text-align: center;
    font-size: 30px; 
    color:darkslategray;
}
.container {
    width: 400px; /* Change from 400px to 100% */
    background-color: gainsboro;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    align-items: center;

}
 
.but {
    flex: 1;
    width: 100%; /* Change from 60px to 100% */
    height: 30px;
    margin: 2px;
    background-color: white;
    padding: 5px 5px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}
 
.butNumber {
    flex: 1;
    width: 100%; /* Change from 60px to 100% */
    height: 30px;
    margin: 2px;
    background-color:rgb(214, 203, 203);
    padding: 5px 5px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}
.butNumber:hover{
    background-color: cadetblue;
    color: white;
}
.but:hover{
    background-color: cadetblue;
    color: white;
}

.result {
    flex: 1;
    width: 100%; /* Change from 60px to 100% */
    height: 30px;
    margin: 2px;
    background-color: darkslategrey;
    text-align: center;
    padding: 5px 5px;
    border-radius: 10px;
    cursor: pointer;
}
 

.result:hover{
    background-color: burlywood;
    color: white;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    background-color: gainsboro;
    color: black;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
}
 

.Answer {
    grid-column: span 5;
    width: 100%;
    height: 40px;
    margin: auto;
    padding: 20p 20px;
    font-size: 12px;
    text-align: center;
}
 